/*
Convension para acomodar estilos

1.Posicionamiento
2. Modelo de Caja
3.Tipografia
4.Temas visuales
5. otros
*/

:root{
    /*colores*/
    --bitcoin-orange:#F7931A;
    --soft-orange:#FFE9D5;
    --secondary-blue:#1A9AF7;
    --soft-blue:#E7F5FF;
    --warm-black:#201E1C;
    --black:#282623;
    --grey:#BABABA;
    --off-white:#FAF8F7;
    --white:#FFFFFF;
}

/*seteamos valores redeterminados de etiquetas */
*{
    /*propiedad que me permite ajustar al tamaño de la caja sin sumar padding y border*/
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    /*para poder hacer uso del rem y utilizar medidas relativas en las fuentes*/
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}